.image-container {
  display: block;
  margin: 100px 50px;
  width: 100%;
  height: 100%;
  scroll-margin: none;
  /* max-width: 100%; */
}

.image-container > a > img {
  border-radius: var(--rtc-radius-l);
  margin: var(--rtc-margin-xs);
  width: 250px;
  height: 350px;
  object-fit: cover;
  transition: all 1s;
}

.image-container > a > img:hover {
  filter: contrast(40%);
  cursor: pointer;
  transform: var(--rtc-scale-xs);
  transition: all 1s;
}

@media (width <= 1712px) {
  .image-container {
    margin-left: var(--rtc-margin-xl);
  }
}

@media (width <= 660px) {
  .image-container {
    margin-top: var(--rtc-margin-s);
  }

  .image-container > a > img {
    width: 180px;
    height: 240px;
  }
}

@media (width <= 441px) {
  .image-container > a > img {
    width: 140px;
    height: 200px;
  }
}

@media (width <= 338px) {
  .image-container > a > img {
    width: 120px;
    height: 160px;
  }
}