#header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: var(--rtc-padding-xs);
  position: fixed;
  top: 0;
  background-color: var(--rtc-color-white);
  z-index: 2;
}

.div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
}

.img-header {
  width: 35px;
  height: 35px;
}

.div-header:hover {
  border-radius: var(--rtc-radius-xxl);
  transform: var(--rtc-scale-xl);
  transition: 1s;
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 275px;
}

.a-inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: large;
  color: var(--rtc-color-white);
  background-color: var(--rtc-color-black);
  width: 70px;
  height: 40px;
  border-radius: var(--rtc-radius-l);
  font-family: kanit;
  cursor: pointer;
}

.a-explorar,
.a-crear {
  font-size: large;
  font-family: kanit;
  color: var(--rtc-color-black);
  cursor: pointer;
}

.a-inicio:hover, .a-explorar:hover,
.a-crear:hover {
  transform: var(--rtc-scale-s);
}

@media (width <= 660px){
  #header {
    flex-direction: column;
    height: 150px;
    position: sticky;
  }

  .div-header {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .img-header {
    margin-left: 50%;
    width: 30px;
    height: 30px;
  }

  .div-header:hover {
    transform: var(--rtc-scale-m);
  }

  .menu-header {
    width: 100%;
    height: 30px;
  }
}