.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: var(--rtc-margin-xs);
  margin-top: 5%;
  position: sticky;
  width: 90%;
  height: 60px;
}

footer > div {
  display: flex;
  gap: var(--rtc-gap-xs);
}

footer > div:hover {
  transform: var(--rtc-scale-s);
}

.linkweb-footer {
  font-family: kanit;
}

.p-linkweb-footer, .author-footer {
  cursor:default;
  font-family: kanit;
}

.mailimg-footer, .linkedinimg-footer, .githubimg-footer {
  width: 35px;
  height: 35px;
}

.mailimg-footer:hover, .linkedinimg-footer:hover, .githubimg-footer:hover {
  transform: var(--rtc-scale-l);
  transition: 1s;
}

@media (width <= 660px) {
  .footer {
    width: 100%;
    margin: var(--rtc-margin-xs);
    flex-direction: column;
    flex-wrap: wrap;
  }

  footer > div {
    flex-direction: row;
  }

  .mailimg-footer, .linkedinimg-footer, .githubimg-footer {
    width: 30px;
    height: 30px;
  }

  .mailimg-footer:hover, .linkedinimg-footer:hover, .githubimg-footer:hover {
    transform: var(--rtc-scale-m);
}
}