.nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 80%;
}

.form-nav {
  display: flex;
  justify-content: start;
  margin-left: var(--rtc-margin-xs);
  width: 90%;
  height: 40px;
  background-color: var(--rtc-color-grey);
  border-radius: var(--rtc-radius-l);
}

.img-form-nav {
  margin: var(--rtc-padding-xs);
  width: 25px;
  cursor: no-drop;
}

.input-form-nav {
  background: none;
  font-family: kanit;
  width: 100%;
  outline: none;
  border-style: none;
}

.input-form-nav:hover {
  border-style: none;
  background: none;
  font-family: kanit;
  width: 100%;
  outline: none;
  /* background-color: var(--rtc-color-grey-dark); */
  border-radius: var(--rtc-radius-l);
}

.button-form-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  font-family: kanit;
  color: var(--rtc-color-white);
  background-color: var(--rtc-color-black);
  border-radius: var(--rtc-radius-l);
  font-size: medium;
  width: 90px;
  height: 40px;
  cursor: pointer;
}

.button-form-nav:hover {
  transform: var(--rtc-scale-s);
}

/* NAV MENU */
.div-menu-nav {
  display: flex;
  margin-left: var(--rtc-margin-s);
}

.img-menu-nav {
  display: flex;
  margin: var(--rtc-margin-xs);
  width: 30px;
  height: 30px;
}

.a-notificacion:hover,
.a-favorito:hover,
.a-perfil:hover {
  background-color: var(--rtc-color-grey);
  border-radius: var(--rtc-radius-xxl);
  transform: var(--rtc-scale-l);
}

@media (width <= 660px) {
  .nav {
    width: 100%;
    margin: var(--rtc-margin-xs);
    position: sticky;
  }
  
  .div-menu-nav {
    margin-left: var(--rtc-margin-s);
  }
  
  .img-menu-nav {
    width: 30px;
    height: 30px;
  }
  
  .a-notificacion:hover,
  .a-favorito:hover,
  .a-perfil:hover {
    /* border-radius: var(--rtc-radius-xxl); */
    transform: var(--rtc-scale-m);
  }
}
